body{
    background-image: url("https://i.imgur.com/ZyoSYJO.jpg?1");
    background-repeat: repeat;
    color: white;
}

h1{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
  }

h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}